{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}

<style type="text/css">
	.e {position:absolute; top:51px; right:0; bottom:0; left:0; font-size: 15px; }
	textarea{width:200%; height:93%; background:#000; color:green; font-family:fantasy; font-size:30px;}
</style>


<div class="row">
    <div class="e col-md-6" id="editor"></div>

    <textarea class="col-md-6 col-md-offset-6"  placeholder="The Zen of Python, by Tim Peters
    Beautiful is better than ugly.
    Explicit is better than implicit.
    Simple is better than complex.
    Complex is better than complicated.
    Flat is better than nested.
    Sparse is better than dense."></textarea>
</div>



<script src="//cdn.bootcss.com/ace/1.2.3/ace.js"></script>


<script>
	var e=ace.edit("editor");
	e.setTheme("ace/theme/monokai");
	e.getSession().setMode("ace/mode/python");
</script>

{% endblock %}